<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Vectors 3D</title>
    <link rel="icon" type="image/png" href="../img/favicon_web.PNG">
    <link rel="stylesheet" href="../css/mainStyle.css">

    <script src="../libreries/three.js"></script>
    <script src="../libreries/OrbitControls.js"></script>
    <script src="./src/js/vectores.js"></script>
    <script src="../js/mainVectors.js"></script>
</head>
<body onload="initScene()">
    <canvas width="800" height="600" class="webgl"></canvas>
</body>
</html>