<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computación Gráfica 2023</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>

<body>

    <h2>Responsive Column Cards</h2>
    <p>Resize the browser window to see the effect.</p>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Create Objects</h3>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Create Vectors</h3>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Transformation</h3>
                <p>Some text</p>
            </div>
        </div>
    </div>
</body>
</html>